# CONFIGURE PORT
PORT=

API_KEY_API=

# CONFIGURE SHOW SWAGGER
ENABLED_SWAGGER=true

# WEB DOMAIN URL
WEB_DOMAIN=

# CONFIGURE MONGO
MONGODB_SSL=
MONGODB_URL=

# NODEJS
NODE_ENV=development
DEBUG=0

# CONFIGURE JWT
JWT_SECRET=
