.idea

/node_modules
/dist/
/tsconfig.tsbuildinfo
/proto/

/.env
/.env_hmg
/.env_prod

/.npmrc
/.yarnrc.yml

/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

/coverage/
/.yarn/
