.idea

/app/node_modules
/app/dist/
/app/tsconfig.tsbuildinfo
/app/proto/

/.env
/.env_hmg
/.env_prod

/app/.npmrc
/app/.yarnrc.yml
/app/.env

/app/.yarn/*
!/app/.yarn/patches
!/app/.yarn/plugins
!/app/.yarn/releases
!/app/.yarn/sdks
!/app/.yarn/versions

/app/coverage/
/app/.yarn/
